* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

  .step {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    height: 5vh;
    text-align: center;
  }

  .step-2 {
    background-color: rgb(169, 115, 255);
  }
  .step-3 {
    background-color: rgb(49, 207, 255);
  }
  .step-4 {
    background-color: rgb(125, 160, 255);
  }
  .step-5 {
    background-color: rgb(125, 235, 255);
  }
  .step-6 {
    background-color: rgb(125, 149, 255);
  }
